<h1> CADASTRO DE PRODUTOS </h1>
<HR/>
<form name="formProduto" (ng-submit)="insertProduto()" class="form-horizontal"> 
    <fieldset class="form-group">
    <div class="form-group" class="col-sm-4">
        <div>
            <label for="nomeProduto">Produto:</label>
        </div>
        <div>
            <input type="text" name="nomeProduto" ng-model="Produto.nome" class="form-control" required/>
        </div>
        <BR/>
        <div>
            <label for="descricao">Descrição:</label>
        </div>
        <div>
            <input type="text" name="descricao" ng-model="Produto.descricao" class="form-control"/>
        </div>
        <BR/>
        <div>
            <label for="valor">Valor: </label>
        </div>
        <div>
            <input type="text" name="valor" ng-model="Produto.valor" class="form-control"/>
        </div>
        <BR/>
        <div>
            <label for="quantidade">Quantidade: </label>
        </div>
        <div>
            <input type="text" name="quantidade" ng-model="Produto.quantidade" class="form-control"/>
        </div>
        <BR/>
        <div>
            <label for="urlFoto">urlFoto: </label>
        </div>
        <div>
            <input type="file" name="urlFoto" ng-model="produto.urlFoto" class="form-control"/>
        </div>
        <BR/>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
    </fieldset>
</form>