            <form novalidate name="produto" ng-submit="onSubmit()">
                <div ng-class="{ 'has-error' : produto.nomeProduto.$invalid && !produto.nomeProduto.$pristine }">
                    <label for="nomeProduto">Produto:</label>
                    <input type="text" id="nomeProduto" />
                    <BR/>
                    <label for="descricao">Descrição:</label>
                    <input type="text" id="descricao" />
                    <BR/>
                    <label for="valor">Valor: </label>
                    <input type="text" id="valor" />
                    <BR/>
                    <label for="quantidade">Quantidade: </label>
                    <input type="text" id="quantidade" />
                    <BR/>
                    <label for="urlFoto">urlFoto: </label>
                    <input type="text" id="urlFoto" />

                    <button type="button" onclick="alert('Cadastrado com sucesso')">Cadastrar</button>
                </div>
            </form>
        