<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produto(s)</th>
                            <th></th>
                            <th>Quantidade</th>
                            <th class="valor">Valor Unitàrio</th>
                            <th class="valor">Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let produto of produtos">
                            <td><img src="{{produto.urlFoto}}" class="img-rounded" alt="TV 42" width="100" height="100"></td>
                            <td align="left"><span class="nomeProduto" >{{ produto.nome }}</span><br />{{ produto.descricao }}</td>
                            <td><input id="movie" max="100" min="0" type="number" [value]="produto.quantidade" (input)="produto.quantidade = $event.target.value" /></td>
                            <td class="valor" >{{ produto.valor | currency:'BRL':true }}</td>
                            <td class="valor" >{{ produto.quantidade * produto.valor | currency:'BRL':true  }}</td>
                        </tr>                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="float:left">
        <a routerLink="/home" class="btn btn-info">Escolher + Produtos</a>
    </div>
        <div style="float:right" class="jumbotron col-md-4">
            <table>
                <tbody>
                    <tr>
                        <td class="text-capitalize col-xs-8"> produto:</td>
                        <td class="text-uppercase">R$</td>
                        <td id="basket-summary-subtotal" class="text-right col-xs-4"></td>
                    </tr>
                    <tr>
                        <td class="text-capitalize col-xs-8">Frete (?):</td>
                        <td></td>
                        <td class="text-right col-xs-4" colspan="2">-</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-divisor">
                        <td colspan="3"></td>
                    </tr>
                    <tr class="text-primary summary-total">
                        <td class="text-capitalize col-xs-8">Total:</td>
                        <td class="text-uppercase">R$</td>
                        <td class="text-uppercase text-right col-xs-4" id="total-amount"> {{ getValorTotal() | currency:'BRL':true }} </td>
                    </tr>
                </tfoot>
            </table><br /><br />
            <div style="float: right">
                <a routerLink="/pagamento" class="btn btn-success">Comprar</a>
            </div>
        </div>
</div>