<div class="container"> 
    <div class="row" style="margin-top:10px;margin-bottom:10px">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        Imprima o boleto e pague no banco
    </div>

    <div class="row" style="margin-top:10px;margin-bottom:10px">
        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
        ou pague pela internet utilizando o código de barras do boleto
    </div>

    <div class="row" style="margin-top:10px;margin-bottom:10px">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        o prazo de validade do boleto é de 3 dias úteis
    </div>

    <div class="row" style="margin-top:10px;margin-bottom:10px">
        <div class="col-xs-4" style="text-align:right">
            Total: R$ 1.042,12
        </div>
        <div class="col-xs-4" style="margin-top:10px;margin-bottom:10px">
            <a (click)="pagarComBoleto()" class="btn btn-success">Pagar com Boleto</a>
        </div>
        <div class="col-xs-4"> 
        </div>

         
    </div>

</div>