<div class="container">  
  <div class="panel-group">
    <div class="panel panel-default">      
      <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Produto(s)</th>
                <th></th>
                <th>Quantidade</th>
                <th>Valor Unitàrio</th>
                <th>Valor Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="https://a-static.mlcdn.com.br/1500x1500/tv-led-42-aoc-full-hd-le42m1475-conversor-digital-3-hdmi-1-usb/magazineluiza/193399400/1a19406dae67a689d0679067646c3d73.jpg" class="img-rounded" alt="TV 42" width="100" height="100"></td>
                <td align="left">TV 42 Samsung</td>
                <td><input id="movie" max="100" min="0" type="number" value="0"/></td>
                <td>R$100,00</td>
                <td>R$100,00</td>
            </tr>
            <tr>
                <td><img src="http://thumbs.buscape.com.br/__PUr-f0d4_2.jpg" class="img-rounded" alt="TV 42" width="100" height="100"></td>
                <td align="left">Bicicleta Caloi 21</td>
                <td><input id="movie" max="100" min="0" type="number" value="0"/></td>
                <td>R$250,00</td>
                <td>R$250,00</td>
            </tr>      
            </tbody>
        </table>        
      </div>
    </div>    
  </div>
  <a routerLink="/preenchimentoCartao"  class="btn btn-success">Comprar</a>  
</div>