<div class="container">
  <div class="row">
      <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Número do cartão </label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Nome impresso no cartão</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      
      <div class="form-group">
        <label for="exampleInputPassword1">Validade </label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
         <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Código de segurança</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Parcelar em </label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      </form>
      </div>
  </div>
  <a (click)="voltarParaListaProdutos()"  class="btn btn-success"> Voltar</a>
</div>